body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    background-color: #B8CBD0;
}

.navbar-custom {
    background-color: #709CA7;
}
.nav-button {
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    background-color: #137C8B;
    color : white;
}

.nav-button:hover {
    background-color: #006778; /* effet hover */
}

.btn-deconnexion {
    background-color: #344D59;
    border: none;
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    color : white;
}
.btn-deconnexion:hover {
    background-color: #2c3438;
    
}

.titrepage {
    background-color: #709CA7;
}

.button-accueilGR {
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    background-color: #7A90A4;
    color : white;
}

/* fichez_restaurant */
.fiche-container {
    margin-top: 40px;
}
.image-resto {
    width:500px;
    height: auto;
    border-radius: 10px;
}
.section-gauche, .section-droite {
    min-height: 100%;
}

.info-bloc {
    background-color: #709CA7;
    border-radius: 15px;
    padding: 10px 10px;
    margin-bottom: 10px

}
.btn-modif, .btn-delete {
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    background-color: #7A90A4;
    color : white;
}

.btn-resto {
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    background-color: #7A90A4;
    color : white;
}