body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    background-color: #B8CBD0;
    padding-top: 144px;

}

.navbar-custom {
    background-color: #709CA7;
}
.nav-button {
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    background-color: #137C8B;
    color : white;
}

.nav-button:hover {
    background-color: #006778; /* effet hover */
}

.btn-deconnexion {
    background-color: #344D59;
    border: none;
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    color : white;
}
.btn-deconnexion:hover {
    background-color: #2c3438;
}

.titrepage {
    background-color: #709CA7;
}

.button-accueilGR {
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    background-color: #7A90A4;
    color : white;
}

/* fiche_restaurant */
.fiche-container {
    margin-top: 40px;
}
.image-resto {
    width:500px;
    height: auto;
    border-radius: 10px;
}
.section-gauche, .section-droite {
    min-height: 100%;
}

.info-bloc {
    background-color: #709CA7;
    border-radius: 15px;
    padding: 10px 10px;
    margin-bottom: 10px

}
.btn-modif, .btn-delete {
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    background-color: #7A90A4;
    color : white;
}

.btn-resto {
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    background-color: #7A90A4;
    color : white;
}

/* Page liste restaurant */
.resto-link{
    text-decoration: none;
    color : black;
}

.resto-link:hover {
    color: #344D59;
    text-decoration: underline;
}

/* Page modification */
.bloc-modif, .bloc-modif-nom, .btn-valider{
    background-color: #709CA7;
    border-radius: 15px;
    padding: 8px 20px;
    box-shadow: 0 2px 6px black;
}

.btn-valider:hover{
    background-color: #2c3438;
}

.bloc-modif-nom{
    width: 400px;
    margin: 0 auto; 
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

/* Reprise fichier Adam */
/* h1 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
} */

/* CSS Vincent */
.rectangle-membre {
    border: 2px solid black;
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    background-color: #B8CBD0;
    color : black;
    width: 100%; /* Change to percentage for responsiveness */
    max-width: 400px; /* Add max-width to control the maximum size */
    height: auto; /* Change to auto for responsiveness */
    margin-bottom: 20px;

}

.rectangle-client {
    border: 2px solid black;
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    background-color: #709CA7;
    color : black;
    width: 100%; /* Change to percentage for responsiveness */
    max-width: 400px; /* Add max-width to control the maximum size */
    height: auto; /* Change to auto for responsiveness */
    margin-bottom: 20px;
}

.rectangle-gerant {
    border: 2px solid black;
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    background-color: #344D59;
    color : white;
    width: 100%; /* Change to percentage for responsiveness */
    max-width: 400px; /* Add max-width to control the maximum size */
    height: auto; /* Change to auto for responsiveness */
    margin-bottom: 20px;
}

.bgd-mdp input{
        flex: 1;
        background-color: #B8CBD0;
        border: 1px solid black;
}

.form-container {
            margin: 20px;
            max-width: 300px;
        }
.form-email {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
.form-email label {
            margin-right: 40px;
/*              margin-left: 100px; /* Adjust margin for responsiveness */ */
            width: 105px;
        }
.form-email input {
            flex: 1;
            background-color: #B8CBD0;
            border: 1px solid black;
        }
.form-mdp {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
}
.form-mdp label {
            margin-top : 10px;
            /* margin-left: 100px; /* Adjust margin for responsiveness */ */
            width: 120px;
}

.nav-button-membre {
        border: 2px solid black;
        border-radius: 15px;
        padding: 8px 20px;
        font-weight: bold;
        background-color: #344D59;
        color : white;
        width: 100%; /* Change to percentage for responsiveness */
        max-width: 300px; /* Add max-width to control the maximum size */
        height: 60px;
        align-items: center;
}

.nav-button-membre:hover {
    background-color: #006778;
}

.nav-button-client {
        border: 2px solid black;
        border-radius: 15px;
        padding: 8px 20px;
        font-weight: bold;
        background-color: #7A90A4;
        color : white;
        width: 100%; /* Change to percentage for responsiveness */
        max-width: 300px; /* Add max-width to control the maximum size */
        height: 60px;
        align-items: center;
}

.nav-button-client:hover {
    background-color: #344D59;
}

.nav-button-gerant {
        border: 2px solid black;
        border-radius: 15px;
        padding: 8px 20px;
        font-weight: bold;
        background-color: #7A90A4;
        color : white;
        width: 100%; /* Change to percentage for responsiveness */
        max-width: 300px; /* Add max-width to control the maximum size */
        height: 60px;
        align-items: center;
    }

.nav-button-gerant:hover {
    background-color: #709CA7;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px; /* Ajustez cette valeur pour remonter l'image */
    margin-left: -100px; /* Ajustez cette valeur pour remonter l'image */
}