<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <title>Fiche Restaurant</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <main class="flex-grow-1">

    <!-- Titre centré -->
    <div class="titrepage text-center py-1">
        <h3>Tableau de bord</h3>
    </div>

    <!-- PREMIERE NAVBAR -->
    <!-- à placer en dehors du container pour prendre toute la page -->
    <nav class="navbar navbar-expand-md navbar-custom py-1">
        <div class="container-fluid justify-content-between">

            <!-- Bouton burger -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtons"
            aria-controls="navbarButtons" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenu à cacher/afficher -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarButtons">
                <div class="d-flex flex-column flex-md-row gap-2 mt-3 mt-md-0">
                    <a href="/admin/restaurants" class="btn nav-button">Gestion restaurants</a>
                    <a href="/admin/clients" class="btn nav-button">Gestion clients</a>
                    <a href="/admin/commandes" class="btn nav-button">Gestion commandes</a>
                    <a href="/admin/statistiques" class="btn nav-button">Statistiques</a>
                    <a href="/logout" class="btn btn-deconnexion">Déconnexion</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- DEUXIEME NAV BAR -->
    <nav class="navbar navbar-expand-md navbar-custom2 py-1">
        <div class="container-fluid justify-content-between">
            <!-- Bouton burger -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtons"
            aria-controls="navbarButtons" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenu à cacher/afficher -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarButtons">
                <div class="d-flex flex-column flex-md-row gap-2 mt-3 mt-md-0">
                    <a href="/admin/restaurants" class="btn button-accueilGR">Créer un compte restaurant</a>
                    <a href="/admin/clients" class="btn button-accueilGR">Rechercher un restaurant</a>
                    <a href="/admin/list" class="btn button-accueilGR">Liste des restaurants</a>
                </div>
            </div>
        </div>
    </nav>
    <br><br>
    <h2 class="text-center mb-4" th:text="${restaurant.nomResto}">Nom du restaurant</h2>

    <div class = "container-fluid">
        <div class="row">
            <!-- Colonne gauche -->
            <div class="col-md-3 section-gauche text-center">
                <div class="info-bloc">
                    <p><strong>ID :</strong> <span th:text="${restaurant.id}">1</span></p>
                </div>
                <div class="info-bloc">
                    <p><strong>Type :</strong> <span th:text="${restaurant.typeResto}">Italien</span></p>
                </div>
                <div class="info-bloc">
                    <p><strong>Adresse :</strong> <span th:text="${restaurant.adresse}">123 rue X</span></p>
                </div>
                <div class="info-bloc">
                    <p><strong>Téléphone :</strong> <span th:text="${restaurant.numeroTel}">0123456789</span></p>
                </div>
                <div class="info-bloc">
                    <p><strong>Horaire :</strong> <span th:text="${restaurant.horaire}">12h-22h</span></p>
                </div>
                
            </div>

            <!-- Colonne centrale : Image -->
            <div class="col-md-6 text-center">
                <img th:if="${restaurant.imageResto != null and restaurant.imageResto != ''}" 
                th:src="@{${restaurant.imagePath}}" 
                alt="Image du restaurant" 
                class="image-resto img-fluid shadow" />
                <img th:unless="${restaurant.imageResto != null and restaurant.imageResto != ''}" 
                th:src="@{/images/resto-par-defaut.jpg}"
                alt="Image par défaut" 
                class="image-resto img-fluid shadow" />
            </div>

            <!-- Colonne droite -->
            <div class="col-md-3 section-droite d-flex flex-column justify-content-between">
                <!-- Boutons haut droite -->
                <div class="text-center">
                    <a th:href="@{'/admin/restaurants/edit/' + ${restaurant.id}}" class="btn btn-modif mb-2">Modifier</a>
                    <form th:action="@{'/admin/restaurants/delete/' + ${restaurant.id}}" method="post">
                        <button type="submit" class="btn btn-delete">Supprimer</button>
                    </form>
                </div>

                <!-- Boutons bas droite -->
                <div class="mt-4 text-center">
                    <a href="#" class="btn btn-resto mb-2">Menus</a>
                    <br>
                    <a href="#" class="btn btn-resto mb-2">Plats</a>
                    <br>
                    <a href="#" class="btn btn-resto ">Promotions</a>
                </div>
            </div>
        </div>
    </div>

    </main>

<!-- Footer avec copyright -->
<footer class="text-center mt-5 mb-3">
  &copy; 2025 - GourmetGo
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>