<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des restaurants</title>
</head>
<body>
    <h1>Restaurants</h1>
    <table>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Horaire</th>
            <th>Téléphone</th>
            <th>Type Resto</th>
            <th>Actions</th>
        </tr>
        <tr th:each="resto : ${restaurants}">
            <td th:text="${resto.nomResto}"></td>
            <td th:text="${resto.adresse}"></td>
            <td th:text="${resto.horaire}"></td>
            <td th:text="${resto.numeroTel}"></td>
            <td th:text="${resto.typeResto}"></td>
            <td>
                <a th:href="@{/restaurants/edit/{id}(id=${resto.id})}">Modifier</a>
            </td>
        </tr>
    </table>
</body>
</html>