<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Succès</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
      
      .btn-electric-blue {
          background-color: #1E90FF; 
          border-color: #1E90FF;
          color: white;
      }
      .btn-electric-blue:hover {
          background-color: #1C86EE;
          border-color: #1C86EE;
          color: white;
      }
    </style>
</head>
<body class="bg-light">
    <div class="container mt-5 text-center">
        <h1 class="text-success">Inscription réussie !</h1>
        <p>Le restaurant a bien été enregistré.</p>
        <div class="d-flex justify-content-center gap-3">
           
            <!-- Bouton pour accéder aux détails du restaurant inscrit -->
            <a th:href="@{/admin/list/{id}(id=${param.restaurantId})}" class="btn btn-electric-blue">Accéder dès maintenant à votre restaurant</a>

             <!-- Bouton pour recommencer une nouvelle inscription -->
            <a href="/admin/restaurants/formulaire" class="btn btn-electric-blue">Commencer une nouvelle inscription</a>
        </div>
    </div>
</body>
</html>
